<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
    <ion-content class="padding">
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
        <p>
            {{chat.lastText}}
        </p>
        <star-rating-view class="star-rating" rating-value="dataReview.rating" data-max="5">
            <ul class="rating">
                <!-- ngRepeat: star in stars -->
                <li ng-repeat="star in stars" ng-class="star" class="filled $$hashKey"><i class="icon ion-star"></i>
                </li>
                <!-- end ngRepeat: star in stars -->
                <li ng-repeat="star in stars" ng-class="star" class="filled $$hashKey"><i class="icon ion-star"></i>
                </li>
                <!-- end ngRepeat: star in stars -->
                <li ng-repeat="star in stars" ng-class="star" class="filled $$hashKey"><i class="icon ion-star"></i>
                </li>
                <!-- end ngRepeat: star in stars -->
                <li ng-repeat="star in stars" ng-class="star" class="filled $$hashKey"><i class="icon ion-star"></i>
                </li>
                <!-- end ngRepeat: star in stars -->
                <li ng-repeat="star in stars" ng-class="star" class="$$hashKey"><i class="icon ion-star"></i>
                </li>
                <!-- end ngRepeat: star in stars -->
            </ul>
        </star-rating-view>
    </ion-content>
</ion-view>