<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <ul>
                    <li>Vincent is on 5mile a run!</li>
                    <li>Vincent was at the gym - leg day!</li>
                    <li> Vincent biked 10miles! </li>
                    <li>Vincent now benches 200lbs!</li>
                    <li> Siloiy had a meal - 3000 calories!</li>
                </ul>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Statistics</div>
            <div class="item item-body">
                <ul>
                    <li> Vincent - *****</li>
                    <li> Gideon - ***</li>
                    <li> Siloiy - **</li>
                    <li> Antony - *</li>
                    <li> Micah - *</li>
                </ul>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Challenges</div>
            <div class="item item-body">
                <div>
                    <p>Date Night Challenge</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">News</div>
            <div class="item item-body">
                <div>
                    <a href="http://www.artofmanliness.com/2013/09/26/the-5-types-of-friends-every-man-needs/">Five Type of Friends every Man Needs</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>